body {
    color: rgb(255, 255, 255);
    background:rgb(0, 0, 0);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 1px rgb(218, 165, 32);
    padding: 20px;
    font-size: 50px;
    color: rgb(218, 165, 32);
    margin: 0;
}

.chamada {
    background-image: linear-gradient(to bottom,rgb(109, 4, 228),rgb(255, 0, 0));
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 50%;
}

h1{
    font-size: 50px;
}

p{
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover {
    opacity: 1.0;
    border: 1.5px solid rgb(218, 165, 32)
}
.categoria h2 {
    color: rgb(218, 165, 32);
}